:root {
  --segment-size: 3rem;
  --flask-top-size: 0.5rem;
  --border-size: 0.1rem;
  --flask-color: white;
  --accent-color: dimgray;
  --border-color: silver;
}

.visually-hidden {
  width: 1px;
  height: 1px;
  font-size: 1px;
  color: transparent;
  pointer-events: none;
  user-select: none;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

#flasks {
  display: flex;
  flex-direction: row;
  gap: var(--segment-size);
}

.flask {
  display: flex;
  flex-direction: column;
  transition: transform 500ms;
  transform: rotate(0deg);

  border: none;
  background: transparent;
  cursor: pointer;
  padding-block: calc((var(--flask-top-size) * 2) + (var(--border-size) * 3))
    var(--border-size);
  padding-inline: calc(var(--flask-top-size) + var(--border-size));

  &[aria-pressed="true"] {
    transform: rotate(15deg);
  }

  * {
    pointer-events: none;
  }

  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }

  .segment {
    width: var(--segment-size);
    height: var(--segment-size);

    border: var(--border-size) solid var(--border-color);
    border-block-start-color: transparent;
    background: var(--flask-color);

    &[data-color="red" i] {
      background-color: red;
    }

    &[data-color="blue" i] {
      background-color: blue;
    }

    &[data-color="green" i] {
      background-color: green;
    }

    &[data-color="yellow" i] {
      background-color: gold;
    }

    &[data-color="orange" i] {
      background-color: orange;
    }

    &[data-color="purple" i] {
      background-color: purple;
    }

    &:first-child::before {
      display: block;
      content: "";
      width: calc(100% + (var(--flask-top-size) * 2));
      height: calc(var(--flask-top-size) * 2);
      margin-inline-start: calc(
        (var(--flask-top-size) * -1) - var(--border-size)
      );
      margin-block-start: calc(
        (var(--flask-top-size) * -2) - (var(--border-size) * 2)
      );
      border-radius: var(--flask-top-size);
      border: var(--border-size) solid var(--border-color);
      background: var(--flask-color);
    }

    &:last-child {
      border-bottom-left-radius: var(--segment-size);
      border-bottom-right-radius: var(--segment-size);
    }
  }

  &:hover {
    filter: drop-shadow(0 0 calc(var(--border-size) * 3) var(--accent-color));
  }

  &:focus {
    outline: var(--border-size) dotted var(--accent-color);
    filter: drop-shadow(0 0 calc(var(--border-size) * 3) var(--accent-color));
  }
}
